<nav class="pagination justify-content-center mb-2">
    <button class="page-link" @onclick="ResetToFirstPage">
        <span class="oi oi-media-skip-backward"></span>
        First Page
    </button>

    @if (PageNumber > 1)
    {
        <button class="page-link" @onclick="PreviousPage">
            <span class="oi oi-arrow-circle-left"></span>
            Previous
        </button>
    }

    <button class="page-link" @onclick="NextPage">
        Next
        <span class="oi oi-arrow-circle-right"></span>
    </button>

    <button class="page-link" @onclick="GoToLastPage">
        Last Page
        <span class="oi oi-media-skip-forward"></span>
    </button>
</nav>

@code {
    protected int PageNumber { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChange { get; set; }

    protected void NextPage()
    {
        PageNumber++;
    }

    protected void PreviousPage()
    {
        PageNumber--;
    }

    protected void ResetToFirstPage()
    {
        PageNumber = 1;
    }

    protected void GoToLastPage()
    {
        PageNumber = 100;
    }

    protected async Task HandlePaging()
    {
        await OnPageChange.InvokeAsync(PageNumber);
    }
}
