<div class="input-group">
    <input class="form-control"
           type="text"
           @bind-value="SearchTerm"
           id="search"
           placeholder="Search..."
           @bind-value:event="oninput" />

    <div class="input-group-append">
        <button class="btn btn-success"
                type="submit"
                @onclick="HandleSearch">
            <i class="oi oi-magnifying-glass"></i>
            Search
        </button>
    </div>

</div>

@code {
    protected string SearchTerm { get; set; }

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    protected async Task HandleSearch()
    {
        await OnSearch.InvokeAsync(SearchTerm.ToLower());
    }
}
