<div class="input-group" 
     style="position:relative;width:25%;min-width:35px;">
    <input class="form-control"
           type="text"
           @bind-value="SearchTerm"
           id="search"
           placeholder="Search..."
           @bind-value:event="oninput" />

    <div class="input-group-append">
        <button class="btn btn-primary"
                type="submit"
                @onclick="HandleSearch">
            <i class="oi oi-magnifying-glass"></i>
            Search
        </button>
        <button class="btn btn-danger"
                type="submit"
                @onclick="Clear">
            <i class="oi oi-circle-x"></i>
            Clear
        </button>
    </div>
</div>

@code {
    protected string SearchTerm { get; set; }

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    protected async Task HandleSearch()
    {
        await OnSearch.InvokeAsync(SearchTerm.ToLower());
    }

    protected async Task Clear()
    {
        await OnSearch.InvokeAsync(SearchTerm = "");
    }
}
