@page "/servers"

@inject HttpClient Http
@inject IServerRepository _repo

<h3>Server List</h3>

@if (Servers == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var server in Servers)
    {
        <ServerCardComponent server="server" />
    }
}

@code {
    private IList<ServerModel> Servers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Servers = await _repo.GetAll(Endpoints.ServersEndpoint);
    }
}
