@page "/customers"

@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject ICustomerRepository CustomerRepo

<h3>Customer List</h3>

<a href="/customers/add/" class="btn btn-primary p-2 m-2">
    <span class="oi oi-pencil"></span>
    Create A Customer
</a>

<SearchBarComponent OnSearch="HandleSearch" />

<br />

<nav class="pagination justify-content-center mb-2">
    <button class="page-link" @onclick="ResetToFirstPage">
        <span class="oi oi-media-skip-backward"></span>
        First Page
    </button>

    @if (PageNumber > 1)
    {
        <button class="page-link" @onclick="Previous">
            <span class="oi oi-arrow-circle-left"></span>
            Previous
        </button>
    }

    <button class="page-link" @onclick="Next">
        Next
        <span class="oi oi-arrow-circle-right"></span>
    </button>
</nav>

@if (Customers == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-striped table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Customers)
            {
                <tr>
                    <td scope="row">@customer.Name</td>
                    <td scope="row">@customer.Email</td>
                    <td scope="row">@customer.State</td>
                    <td>
                        <a href="/customers/details/@customer.Id" class="btn btn-primary">
                            Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <Pagination CurrentPage="PageNumber" TotalPagesQuantity="PageSize" Radius="2" />
}

@code {
    private IList<CustomerModel> Customers;

    private HubConnection _hubConnection;

    bool ShowModal = false;

    int PageNumber = 1;
    int PageSize = 20;
    int TotalPages;
    int StartPage;
    int EndPage;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadCustomers();
        StateHasChanged();
    }

    private async Task LoadCustomers()
    {
        Customers = await CustomerRepo.GetAll(Endpoints.CustomersEndpoint);
    }

    private async Task HandleSearch(string search)
    {
        Customers = await Http.GetFromJsonAsync<IList<CustomerModel>>($"api/customers?search={search}");
    }

    private async Task Clear()
    {
        await LoadCustomers();
    }

    private async Task Next()
    {
        PageNumber++;
        var response = await CustomerRepo.GetAll(Endpoints.CustomersEndpoint + $"?page={PageNumber}&pageSize={PageSize}");
        Customers = response;
    }

    private async Task Previous()
    {
        PageNumber--;
        var response = await CustomerRepo.GetAll(Endpoints.CustomersEndpoint + $"?page={PageNumber}&pageSize={PageSize}");
        Customers = response;
    }

    private async Task ResetToFirstPage()
    {
        PageNumber = 1;
        var response = await CustomerRepo.GetAll(Endpoints.CustomersEndpoint + $"?page={PageNumber}&pageSize={PageSize}");
        Customers = response;
        StateHasChanged();
    }
}
